# Node
node_modules/
dist/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.DS_Store
*.local
.cache/
.vscode/

# Logs
logs
*.log

# OS
Thumbs.db

# Test
/coverage

# Misc
*.tgz

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env.*
